{% extends "base.html" %}
{% block title %}Projects{% endblock title %}
{% block projectsactive %}active{% endblock projectsactive %}
{% block body %}


    <div class="container my-3">
        <h2 class="text-center">Projects</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 12rem;">
                    <img src="https://source.unsplash.com/300x300/?technology" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Technology</h5>
                        <p class="card-text">Something</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 12rem;">
                    <img src="https://source.unsplash.com/300x300/?code" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Code</h5>
                        <p class="card-text">Something</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 12rem;">
                    <img src="https://source.unsplash.com/300x300/?Design" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Design</h5>
                        <p class="card-text">Something</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock body %} 